.Main {
    width: 60%;
    min-width: 800px;
    height: 75%;
    min-height: 650px;
    margin: auto;
    -webkit-box-shadow: 5px 5px 30px -7px rgba(0,0,0,0.8); 
    box-shadow: 5px 5px 30px -7px rgba(0,0,0,0.8);
}